In [2]:
mysql://codespace@localhost:3308?unix_socket=/run/mysqld/mysqld.sock

Connected successfully!

In [3]:
CREATE DATABASE db;
USE db;

Can't create database 'db'; database exists

In [4]:
SELECT 1;

   1
0  1